body{
  max-width:100%;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

#title{
  background-color: #ff4c68;
  color: white;

}

.download-button{
  margin:5% 3% 5% 0;
}

.container-fluid{
  padding:3% 15%;

}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family:"Montserrat";
  font-size:3rem;
  line-height:1.5;
  font-weight: 900;
}

.iphone-image{
  width:16%;
  transform: rotate(25deg);
  position:absolute;
}

.navbar{
  padding:2.5rem 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight:bold;
}

.nav-item{
  padding:0 25px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 100;
}

/* features */

#features{
  position: relative;

}

.featurecontainer{
  background-color:white;
  text-align:center;
  padding:7% 15%;
}

.featuretitle{
  font-size: 1.5rem;
  font-weight:900;
}

.uwu{
  color:#ef8172;
  margin-bottom: 1rem;
}

.uwu:hover{
  color:#ff4c68;
}

.p{
  background-color: #8f8f8f;
}

/* testimonials */

#testimonials{
  text-align:center;
  background-color:#ef8172;
  color:white;
}

.testimonial_image{
  width:10%;
  border-radius:100%;
  margin:20px;
}

#press{
  background-color:#ef8172;
  text-align:center;
  padding-bottom:3%;
}

.press_image{
  width:15%;
  margin:20px 20px 50px;
}

.carousel-item{
  padding:7% 15%;

}


/* pricing */
#pricing{
  padding:100px;
  text-align:center;
}

.price-col{
  padding:3% 2%;
}

#cta{
  font-style: "Montserrat";
  font-weight:900;
  font-size: 3.5rem;
  color:white;
  background-color:#ff4c68;
  text-align:center;
  padding:3% 25%;
}

#footer{
  text-align:center;
  padding:3%;
}

.links{
  padding:1%;
  width:110%;
}

.copyright{
  padding:1%;
}
